@model List<CrudApp1.Models.Viewmodels.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    table > tbody > tr {
        vertical-align: middle;
    }


</style>

<div class="text-center">
    <h1>
        Welcome To Crud App
    </h1>

    @if (Model != null && Model.Any())
    {
        <div class="container  p-3">

            <h3 class="text-center">PRODUCTS LIST</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>In Stock</th>
                        <th>Image</th>
                        <th>Options</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach(var p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.UnitPrice</td>
                        <td>@p.UnitInStock</td>
                        <td><img src="@p.ImageUrl" width="50" alt="No Image found" /></td>
                        <td>
                            <a asp-action="Edit" asp-controller="Home" class="btn btn-primary" asp-route-id="@p.Id">Edit</a>
                            <a class="btn btn-danger" asp-route-id="@p.Id" >Delete</a>
                        </td>
                        
                    </tr>
                }

                </tbody>
            </table>

        </div>
    }
else
            {
                <h4 class="text-danger">No Products Available</h4>
            }




</div>
